<!DOCTYPE html>
<html lang="en">
<head>
    <title>Betstar</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .shell-wrap {
            width: 500px;
            margin: 100px auto 0 auto;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);

            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .shell-top-bar {
            text-align: center;
            color: #525252;
            padding: 5px 0;
            margin: 0;
            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
            font-size: 0.85em;
            border: 1px solid #CCCCCC;
            border-bottom: none;

            -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            background: #f7f7f7; /* Old browsers */
            background: -moz-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #B8B8B8)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #f7f7f7 0%, #B8B8B8 100%); /* IE10+ */
            background: linear-gradient(to bottom, #f7f7f7 0%, #B8B8B8 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#B8B8B8', GradientType=0); /* IE6-9 */
        }

        .shell-body {
            margin: 0;
            padding: 5px;
            list-style: none;
            background: #141414;
            color: #45D40C;
            font: 0.8em 'Andale Mono', Consolas, 'Courier New';
            line-height: 1.6em;

            -webkit-border-bottom-right-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            overflow: auto;
            height: 176px;
        }

        .shell-body li {
            word-wrap: break-word;
            position: relative;
            padding: 0 0 0 0px;
        }
    </style>
</head>
<body>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="row">
    <div class="col-sm-6">

        <div id="editor" style="height:200px">print("hello world")</div>


    </div>
    <div class="col-sm-6">
        <button id="save">Save Algorithm</button>
        <button id="run">Run Back Test</button>
        <button id="clear">Clear Logs</button>


        <ul class="shell-body" id="log">
        </ul>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">


        </script>
    </div>
</div>

<script src="{{ url_for('static', filename='js/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script>

    var socket = io.connect('http://' + document.domain + ':' + 8080 + '/test');
    socket.on('my response', function (msg) {
        $('#log').prepend('<li>Status: ' + msg.data + '</li>');
    });

    socket.on('graph', function (msg) {
        $('#log').prepend('<li>Execution: ' + msg.data + '</li>');
    });

    socket.on('code', function (msg) {
        $('#log').prepend('<li>Code: ' + msg.data + '</li>');
    });


    socket.on('message', function (msg) {
        $('#log').prepend('<li>message: ' + msg.data + '</li>');
    });

    var editor = ace.edit("editor")
    editor.on("input", function () {
        {#        saveButton.disabled = editor.session.getUndoManager().isClean()#}
    });

    editor.setTheme("ace/theme/cobalt");
    editor.getSession().setMode("ace/mode/python");
    editor.setShowPrintMargin(false);

    var saveButton = document.getElementById("save")
    var runButton = document.getElementById("run")
    var clearButton = document.getElementById("clear")

    saveButton.addEventListener("click", function () {
        editor.session.getUndoManager().markClean()
        {#        saveButton.disabled = editor.session.getUndoManager().isClean()#}
        console.log("Saving" + editor.getValue())

        socket.emit('save_code', {data: editor.getValue()});

    });

    runButton.addEventListener("click", function () {
        console.log("Running Back Tests ")
        $('#log').empty();

        socket.emit('run_back_test', {data: "test"});

    });
    clearButton.addEventListener("click", function () {
        console.log("Clear Logs ")

        $('#log').empty();

    })
</script>
</body>
</html>