{% extends 'base.html' %}
{% load humanize %}
{% block title %}B-Bot Dashboard{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="breadcrumbs">
            <h1>Algorithms</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="active">Algorithms</li>
            </ol>
        </div>
        <div class="page-content-container">
            <div class="page-content-row">
                <div class="page-content-col">

                    <div class="todo-container">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="todo-tasks-container">
                                    <div class="todo-head">
                                        <button class="btn btn-square btn-sm red todo-bold" data-toggle="modal" href="#todo-task-modal">New Algorithm</button>
                                        <h3>
                                            <span class="todo-grey">Algorithms:</span> </h3>
                                        <p class="todo-inline">{{ algorithms.count }} Algorithms

                                        </p>
                                    </div>
                                    <ul class="todo-tasks-content">


                                        {% for a in algorithms %}
                                        <li class="todo-tasks-item">
                                            <h4 class="todo-inline">
                                                <a data-toggle="modal" href="/algorithms/{{ a.slug }}">{{ a.title }}</a>
                                            </h4>
                                            <p class="todo-inline todo-float-r">
                                                <span class="todo-red">{{ a.created_date|naturalday }}</span>
                                            </p>
                                        </li>
                                        {% endfor %}











                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="todo-task-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content scroller" style="height: 100%;" data-always-visible="1" data-rail-visible="0">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <button class="btn btn-square btn-sm green todo-bold todo-inline">Complete Task</button>
                                    <p class="todo-task-modal-title todo-inline">Due:
                                        <input class="form-control input-inline input-medium date-picker todo-task-due todo-inline" size="16" type="text" value="10/01/2015"/>
                                    </p>
                                    <p class="todo-task-modal-title todo-inline">Assign:
                                        <a class="todo-inline todo-task-assign" href="#todo-members-modal" data-toggle="modal">Luke</a>
                                    </p>
                                </div>
                                <div class="modal-body todo-task-modal-body">
                                    <h3 class="todo-task-modal-bg">Sample Images for Mega Menu Components Category</h3>
                                    <p class="todo-task-modal-bg"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                        suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                        <br>
                                        <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                        <br>
                                        <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                                    <h4>Attach File
                                        <a class="todo-add-button" href="javascrip:;">+</a>
                                    </h4>
                                    <p class="todo-task-file">
                                        <i class="fa fa-file-o todo-grey"></i> menu_screen.jpg
                                        <i class="fa fa-times todo-remove-file"></i>
                                    </p>
                                    <p class="todo-task-file">
                                        <i class="fa fa-file-o todo-grey"></i> comments.jpg
                                        <i class="fa fa-times todo-remove-file"></i>
                                    </p>
                                </div>
                                <!-- BEGIN PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-bubble font-hide hide"></i>
                                            <span class="caption-subject font-hide bold uppercase">Chats</span>
                                        </div>
                                        <div class="actions">
                                            <div class="portlet-input input-inline">
                                                <div class="input-icon right">
                                                    <i class="icon-magnifier"></i>
                                                    <input type="text" class="form-control input-circle" placeholder="search..."></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body" id="chats">
                                        <div class="scroller" style="height: 525px;" data-always-visible="1" data-rail-visible1="1">
                                            <ul class="chats">
                                                <li class="out">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar2.jpg"/>
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Lisa Wong </a>
                                                        <span class="datetime"> at 20:11 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                    </div>
                                                </li>
                                                <li class="out">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar2.jpg"/>
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Lisa Wong </a>
                                                        <span class="datetime"> at 20:11 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                    </div>
                                                </li>
                                                <li class="in">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar1.jpg"/>
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Bob Nilson </a>
                                                        <span class="datetime"> at 20:30 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                    </div>
                                                </li>
                                                <li class="in">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar1.jpg"/>
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Bob Nilson </a>
                                                        <span class="datetime"> at 20:30 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                    </div>
                                                </li>
                                                <li class="out">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar3.jpg"/>
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Richard Doe </a>
                                                        <span class="datetime"> at 20:33 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                    </div>
                                                </li>
                                                <li class="in">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar3.jpg"/>
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Richard Doe </a>
                                                        <span class="datetime"> at 20:35 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                    </div>
                                                </li>
                                                <li class="out">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar1.jpg"/>
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Bob Nilson </a>
                                                        <span class="datetime"> at 20:40 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                    </div>
                                                </li>
                                                <li class="in">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar3.jpg"/>
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Richard Doe </a>
                                                        <span class="datetime"> at 20:40 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                    </div>
                                                </li>
                                                <li class="out">
                                                    <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar1.jpg"/>
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Bob Nilson </a>
                                                        <span class="datetime"> at 20:54 </span>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt
                                                                        ut laoreet. </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="chat-form">
                                            <div class="input-cont">
                                                <input class="form-control" type="text" placeholder="Type a message here..."/></div>
                                            <div class="btn-cont">
                                                <span class="arrow"> </span>
                                                <a href="" class="btn blue icn-only">
                                                    <i class="fa fa-check icon-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END PORTLET-->
                                <div class="modal-footer">
                                    <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                                    <button class="btn green" data-dismiss="modal">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="todo-members-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Select a Member</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="#" class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Selected Members</label>
                                            <div class="col-md-8">
                                                <select id="select2_sample2" class="form-control select2 select-height" multiple>
                                                    <optgroup label="Senior Developers">
                                                        <option>Rudy</option>
                                                        <option>Shane</option>
                                                        <option>Sean</option>
                                                    </optgroup>
                                                    <optgroup label="Technical Team">
                                                        <option>Kathy</option>
                                                        <option>Luke</option>
                                                        <option>John</option>
                                                        <option>Darren</option>
                                                    </optgroup>
                                                    <optgroup label="Design Team">
                                                        <option>Bob</option>
                                                        <option>Carolina</option>
                                                        <option>Randy</option>
                                                        <option>Michael</option>
                                                    </optgroup>
                                                    <optgroup label="Testers">
                                                        <option>Chris</option>
                                                        <option>Louis</option>
                                                        <option>Greg</option>
                                                        <option>Ashe</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
                                    <button class="btn green" data-dismiss="modal">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
            </div>
        </div>


    </div>

{% endblock %}
