{% extends 'base.html' %}
{% load humanize %}
{% block title %}B-Bot Dashboard{% endblock %}

{% block pagejs %}

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script language="javascript">

        var winnings=0;

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        chart = Highcharts.stockChart('container', {
            chart: {
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {
                    }
                }
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +  Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function () {
                    var data = []
                    return data;
                }())
            }]
        });


        var myTextArea = document.getElementById('code_editor_demo_1');
        var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
            lineNumbers: true,
            matchBrackets: true,
            styleActiveLine: true,
            theme: "material",
            mode: 'python'
        });
        $("#savecode").click(function () {
            var code = myCodeMirror.getValue();
            var user = "{{request.user.username}}";
            var slug = "{{algo.slug}}";

            screenlog("Saving Code: " + slug + " @ " + user)
            screenlog("Saving Code: " + code)
            socket.emit('save_code', {data: code, user_id: user, slug: slug});
        });

        $("#runcode").click(function () {
            $('#log').empty();

            var code = $('#code_editor_demo_1').val();
            var user = "{{request.user.username}}";
            var slug = "{{algo.slug}}";

            screenlog("Executing Code: " + slug + " @ " + user)
            socket.emit('run_back_test', {data: code, user_id: user, slug: slug});

        });


        $("#clear").click(function () {
            $('#log').empty();


            // set up the updating of the chart each second
            var series = chart.series[0];

            var x = (new Date()).getTime()
            var y = Math.round(Math.random() * 100);
            series.addPoint([x, y], true, false);


        });


        var socket = io.connect('http://localhost:8080/test');
        socket.on('my response', function (msg) {
            screenlog("Status: " + msg.data)
        });

        socket.on('code', function (msg) {
            screenlog("Status: " + msg.data)
        });

        function screenlog(msg) {
            var message = msg
            $('#log').prepend('<li>' + message + '</li>');
            console.log(message)

        }
    </script>
    <script>


        // Stomp.js boilerplate


        var ws = new WebSocket('ws://10.11.31.64:15674/ws');

        var client = Stomp.over(ws);

        client.debug = null

        var on_connect = function (x) {
            id = client.subscribe("/queue/backtest", function (d) {


                result = JSON.parse(d.body);

                screenlog(d.body)


                var series = chart.series[0];

                var match_date = result['date'];
                console.log(match_date);

                var parts = match_date.split('/');
                //please put attention to the month (parts[0]), Javascript counts months from 0:
                // January - 0, February - 1, etc
                // 0 1 2
                var mydate = new Date(parts[2], parts[1] - 1, parts[0]);

                console.log(mydate)

                winnings += parseFloat(result['winnings']);

                $("#count").text("Total Winnings = £" + winnings.toFixed(2))

                var x = (mydate).getTime()
                var y = result['winnings'];
                series.addPoint([x, y], true, false);

            });
        };
        var on_error = function () {
            console.log('error');
        };
        client.connect('guest', 'guest', on_connect, on_error, '/');


    </script>


{% endblock %}
{% block body %}






    <div class="page-content">


        <div class="breadcrumbs">
            <h1>{{ algo.title }}</h1>
            <ol class="breadcrumb">

                <div class="btn-group btn-group-circle">
                    <a type="button" class="btn btn-danger" href="/live/{{ algo.slug }}">Enter Live Market</a>
                    <button type="button" class="btn btn-circle-right btn-danger dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="javascript:;"> Action </a>
                        </li>
                        <li>
                            <a href="javascript:;"> Another action </a>
                        </li>
                        <li>
                            <a href="javascript:;"> Something else here </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;"> Separated link </a>
                        </li>
                    </ul>
                </div>
            </ol>
        </div>
        <div class="page-content-container" id="example-1">
            <div class="page-content-row">
                <div class="page-content-col">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-social-dribbble font-dark"></i>
                                        <span class="caption-subject font-green-haze bold uppercase">Algorithmed</span>
                                        <span class="caption-helper">python syntax</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" id="savecode">
                                            <i class="icon-cloud-upload"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <textarea id="code_editor_demo_1">{{ code }}</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-chart font-green-haze"></i>
                                        <span class="caption-subject bold uppercase font-green-haze">Back Test</span>
                                        <span class="caption-helper" id="count">with historical events</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" id="runcode">
                                            <i class=" icon-control-play"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-wrench"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" id="clear">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="container" style="height: 400px; min-width: 310px"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="shell-body" id="log">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}


